apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-pv
  namespace: chatapp
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ebs-sc
  hostPath:
    path: /data
